.everything,
button,
input {
    font-family: Poppins, sans-serif;
}

.everything {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    background-color: #383F51;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.title {
    font-weight: 600;
}

/* Main content layout */
.mainbody {
    display: flex;
    flex: 1;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #3C4F76;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mainB {
    background-color: #5e7197;
    color: white;
}

.setB {
    background-color: #98bbec;
    color: white;
}

.logB {
    background-color: #C44242;
    color: white;
}

.sidebar button:hover {
    opacity: 0.8;
}

/* Main content area */
.sidedisplay {
    background-color: #E6E6F0;
    padding: 20px;
    overflow-y: auto;
    width: 100%;
}

.main-flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.searchContentBar {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.refresh {
    background-color: #5e7197;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.refresh:hover {
    opacity: 0.9;
}

.hone {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: #3C4F76 0 2px 4px;
    width: 100%;
}

.card {
    /* background-color: #fff; */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
}

.model-button {
    background-color: #5e7197;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.model-button:hover {
    opacity: 0.9;
}

.active {
    /* darken the background */
    background-color: #4a566b;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5e7197;
    color: white;
    padding: 0.1em 2em;
    border-radius: 5em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}
